* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: lavender;
  height: 100vh;
  background: url("./bg.jpg");
  background-size: 100% 100%;
  background-position: top center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.app-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 80vw;
}

header input {
  outline: none;
  border: none;
  width: 100%;
  color: #313131;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 5px 10px 30px;
  font-size: 1.3em;
  border-radius: 30% 0 30% 0;
  border-bottom: 3px solid orange;
  border-left: 0px solid red;

  transition: all 0.2s ease;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 3px solid red;
  border-left: 3px solid red;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  padding: 30px;
  text-align: center;
}

.location .city {
  font-size: 1.7em;
  font-weight: 800;
  margin: 10px;
}

.location .date {
  font-size: 1.4em;
  font-weight: 800;
}

.current .temp {
  margin: 20px;
  font-size: 9em;
  font-weight: 900;
}

.current .temp span {
  font-weight: 400;
}

.current .weather {
  font-size: 2em;
  font-weight: 800;
}

.current .hi-lo {
  font-size: 1.2em;
  font-weight: 800;
}
